/*cores*/
.blue-darken-1 {
	background: #1e88e5;
}
.grey-darken-4 {
	background: #212121; 
}
.grey-text {
	color: #9e9e9e;
}
.box-orders {
	background-color: #4194FF;
}
.box-comments {
	background-color: #FFB900;
}
.box-users {
	background-color: #00C5B1;
}
.box-views {
	background-color: #FF0000;
}
.bg-widgets {
	background-color: #F0F3F7;
	margin-top: 23px;
    height: 65px;
}
/* ==================== Header ==================== */
header {
	width:100%;
	height:100px;
	@extend .blue-darken-1;
	.dash-title {
		color: #ffffff;	
	}	
}
.footer {
    bottom: 0px;
}

.box-widgets {
	background: #ffffff;
	width: 145px;
	height: 50px;
	border-radius: 2px;
	position: relative;
	.box-title {
	top: 25px;
    position: absolute;
    left: 60px;	
	}
	.side-img {
	width: 59px;
	height: 50px;
    border-radius: 2px;
    text-align: center;
	}
	.side-value {
	width: 82px;
	height: 43px;
	top: 0px;
    position: absolute;
    left: 50px;
	}
}

.axis path {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
}
.axis text {
            font-family: Lato;
            font-size: 13px;
}